<section id="logged-in-aside">
    <aside>
        <% console.log(profile) %>
        <div id="profile-picture"></div>
        <h4> <%= profile.bandName %> </h4>
        <h5> <%= profile.city %>, <%= profile.state %> </h5>
        <div class="aside-nav" id="top-aside-nav"><a href="#">FIND SHOWS</a></div>
        <div class="aside-nav"><a href="/users/posts/new" class="aside-nav">NEW SHOW</a></div>
        <div class="aside-nav" id="bottom-aside-nav"><a href="/users/posts" class="aside-nav">MY SHOWS</a></div>
        
    </aside>
</section>