<footer>
    <nav>
      <a href="/auth/google" class="footer-nav">SIGN UP</a>
      <a href="https://www.youtube.com/watch?v=Ru1v0_Qc8Cg" class="footer-nav">ABOUT</a>
      <a href="https://www.youtube.com/watch?v=V8dhTba8i0U" class="footer-nav">HELP CENTER</a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="footer-nav">CAREERS</a>
      <a class="copyright">w/SPECIALGUESTS &copy; 2020</a>
    </nav>
  </footer>

</body>
</html>

