<%- include('./partials/header') %>
<div id="landing">
  <main id="landing-main">
    <section id="landing-left">
      <div class="landing-info">
        <img src="https://i.imgur.com/k8QGbH5.png">
        <h3>Find support for your shows</h3>
      </div>
      <div class="landing-info">
        <img src="https://i.imgur.com/9e8pzRB.png">
        <h3>Connect with bands nationwide</h3>
      </div>
      <div class="landing-info">
        <img src="https://i.imgur.com/bmPuR9C.png">
        <h3>Get more gigs, faster</h3>
      </div>
      <div class="landing-info"></div>
    </section>
    <section id="landing-right">
      <h1><span id="w">w/</span><span id="SG">SG</span></h1>
      <h2 id="tagline">Booking made easy,<br> so you can focus on the music.</h2>
      <section id="button-section">
        <button class="landing-button" onclick="window.location.href='/auth/google'">SIGN UP</button>
        <button class="landing-button" onclick="window.location.href='/auth/google'">LOGIN</button>
      </section>
    </section>
  </main>
</div>
<%- include('./partials/footer') %>