<%- include('./partials/header') %> 
  <main id="landing-main">
    <section id="landing-left">
      <div class="landing-info">
        <h3>Connect with bands nationwide</h3>
      </div>
      <div class="landing-info">
        <h3>Find support for your shows</h3>
      </div>
      <div class="landing-info">
        <h3>Get more gigs</h3>
      </div>
      <div class="landing-info"></div>
    </section>
    <section id="landing-right">
      <h1><span id="w">w/</span><span id="SG">SG</span></h1>
      <h2 id="tagline">Booking made easy,<br> so you can focus on the music.</h2>
      <section id="button-section">
        <button onclick="window.location.href='/auth/google'">SIGN UP</button>
        <button onclick="window.location.href='/auth/google'">LOGIN</button>
      </section>
    </section>
  </main>
    <footer>
      <nav>
        <a href="/auth/google" class="footer-nav">SIGN UP</a>
        <a href="#" class="footer-nav">ABOUT</a>
        <a href="#" class="footer-nav">HELP CENTER</a>
        <a href="#" class="footer-nav">CAREERS</a>
        <a class="copyright">w/SPECIALGUESTS &copy; 2020</a>
      </nav>
    </footer>

</body>
</html>