<%- include('./partials/header') %> 
  <main id="landing-main">
    <section id="landing-left">
      <div class="landing-info"></div>
      <div class="landing-info"></div>
      <div class="landing-info"></div>
      <div class="landing-info"></div>
    </section>
    <section id="landing-right">

    </section>
  </main>
    <footer>
      <p>COPYRIGHT, BITCHES</p>
    </footer>

</body>
</html>