<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>w/ Special Guests</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body id="landing-body">
    <header>
        <nav>
        <div id="wsg">
            <span style="color: #808080">w/</span>SPECIAL GUESTS
        </div>
        <div id="login-small">
            <% if (user) { %>
            WELCOME, <%= user.name.toUpperCase() %> &nbsp; <span id="line">|</span>
            <a href="/logout"> &nbsp; LOG OUT</a>
            <% } else { %>
            <a href="/auth/google">Login with Google</a>
            <% } %>
        </div>
        </nav>
    </header>
  <main id="landing-main">
    <section id="landing-left">
      <div class="landing-info">
        <img src="https://i.imgur.com/k8QGbH5.png">
        <h3>Find support for your shows</h3>
      </div>
      <div class="landing-info">
        <img src="https://i.imgur.com/9e8pzRB.png">
        <h3>Connect with bands nationwide</h3>
      </div>
      <div class="landing-info">
        <img src="https://i.imgur.com/bmPuR9C.png">
        <h3>Get more gigs, faster</h3>
      </div>
      <div class="landing-info"></div>
    </section>
    <section id="landing-right">
      <h1><span id="w">w/</span><span id="SG">SG</span></h1>
      <h2 id="tagline">Booking made easy,<br> so you can focus on the music.</h2>
      <section id="button-section">
        <button onclick="window.location.href='/auth/google'">SIGN UP</button>
        <button onclick="window.location.href='/auth/google'">LOGIN</button>
      </section>
    </section>
  </main>

<%- include('./partials/footer') %>