* {
  margin: 0;
  outline: 0;
}

a{
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: #CC5C00;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 20px 10px 10px 0;
  border-right: 1px solid #505050;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 90%;
}

.aside-nav {
  border-top: 1px solid #505050;
  padding: 8px 0 8px 0;
  width: 125px;
  text-align: center;
}

#bottom-aside-nav {
  border-bottom: 1px solid #505050;
  padding-bottom: 8px;
}

#top-aside-nav {
  margin-top: 8px;
}

body {
  padding: 0;
  background-color: #202020;
  background-image: url(https://i.imgur.com/hXnTkJb.gif);
  background-size: cover;
  background-position: center;
  font-family: "Montserrat";
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 40px 1fr 50px;
  height: 100vh;
  width: 100vw;
}

button {
  font-size: 16px;
  background-color: #2A2A2A;;
  width: 40%;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  border: none;
  color: #CC5C00;
  font-family: inherit;
  outline: 0;
}

button:hover {
  color: #00B7FF;
  background-color: #303030;
  cursor: pointer;
}

#button-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  color: #CC5C00;
  margin: 0 30px;
  text-align: center;
}

.button-td {
  border: none;
  width: 110px;
}

.button-td button {
  width: 100px;
}

footer {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  border-top: 1px solid #505050;
  margin: 0 10px 0 10px;
}

footer nav {
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.footer-nav {
  color: #404040;
  margin: 0 30px;
  text-align: center;
}

.footer-nav:hover {
  color: #00B7FF;
}

form {
  margin-left: 15px;
}

h1 {
  color: #808080;
}

h2 {
  color: #808080;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: white;
}

h4 {
  color: #A0A0A0;
  margin-top: 5px;
}

h5 {
  color: #454545;
}

header {
  height: 40px;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

img {
  width: 80px;
  margin: 20px;
}

label {
  color: #CC5C00;
}

#landing-body {
  grid-template-columns: 1fr;
}

.landing-info {
  font-size: 20px;
  color: #808080;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: -20px 0;
  width: 70%;
}

#landing-main {
  display: grid;
  grid-template-columns: 4fr 5fr;
  width: 100%;
}

#landing-left {
  grid-column: 1 / 2;
  margin: 20px 0;
  border-right: 1px solid #505050;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#landing-right {
  grid-column: 2 / 3;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#line {
  color: #505050;
  font-size: 16px;
}

#login-small {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  padding: 14px;
}

#logged-in-aside {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#main {
  display: grid;
  grid-template-rows: 125px 1fr;
}

nav {
  font-family: 'Montserrat';
  /* background-color: #505050; */
  color: #CC5C00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  height: 40px;
  border-bottom: 1px solid #505050;
  margin: 0 10px 0 10px
}

#new-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-post > *{
  margin: 10px;
}

#page-header {
  grid-row: 1 / 2;
  margin: 5px 25px;
  border-bottom: 1px solid #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #CC5C00;
}

#post-button {
  width: 20%;
}

#profile-picture {
  width: 70%;
  padding-top: 70%;
  background-color: #703030;
  border-radius: 50%;
  margin-bottom: 5px;
}

table {
  color: white;
  /* width: 80%; */
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}


td {
  border: 1px solid #454545;
  padding: 5px;
}

/* table #venue {
  min-width: 100px;
}

table #date {
  min-width: 190px;
}

table #sub {
  width: 20px;
} */

textarea {
  vertical-align: top;
}

#update-button {
  width: 150px;
}

#update-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#update-post input {
  margin: 10px;
}

#wsg {
  display: inline-block;
  height: 20px;
  font-size: 20px;
  padding: 10px; 
}

#w {
  font-size: 80px;
  color: #808080;
  margin-right: 5px;
  /* margin-bottom: 10px; */
  vertical-align: super;
  font-weight: lighter;
}

#SG {
  font-size: 120px;
  font-weight: lighter;
  color: #CC5C00;
}