<%- include('../partials/header') %>
    <%- include('../partials/aside') %>
    <section id="main">
        <% if (hasProfile) {%>
            <h1>TESTING TESTING</h1>
            <h1>TESTING TESTING</h1>
            <h1>TESTING TESTING</h1>
            <h1>TESTING TESTING</h1>
        <% } else { %>
            <h2>YOU NEED TO MAKE A PROFILE</h2> 
            <a href="/users/profile">CREATE PROFILE</a>
        <% } %>

    </section>

<%- include('../partials/footer') %>



