<%- include('../partials/header') %>
    <%- include('../partials/aside') %>
    <section id="main">
        <% if (hasProfile) {%>
            <div id="page-header"><h1>DASHBOARD</h1></div>
            <div id="view-main" class="dashboard">
                <div class="dashboard-div"><a class="dashboard-a" href="/posts/index">FIND SHOWS</a></div>
                <div class="dashboard-div"><a class="dashboard-a" href="/posts/new">NEW SHOW</a></div>
                <div class="dashboard-div"><a class="dashboard-a" href="/posts">MY SHOWS</a></div>
            </div>
        <% } else { %>
            <div id="page-header"><h1>YOU DON'T HAVE A PROFILE YET...</h1></div>
            <div class="create-div">
                <a id="create" href="/users/profile">CREATE PROFILE</a>
            </div>
        <% } %>

    </section>


<%- include('../partials/footer') %>



