<%- include('../partials/header') %>
    <%- include('../partials/aside') %>
    <section id="main">
        <% if (hasProfile) {%>
            <div id="page-header"><h1>DASHBOARD</h1></div>
            <div id="view-main">
                <h2>YOUR ACTIVE SHOW POSTS</h2>
                <h2>YOUR PAST SHOW POSTS</h2>
                <h2>FIND SUPPORT</h2>
                <h2>FIND SHOWS SEEKING SUPPORT</h2>
            </div>
        <% } else { %>
            <div id="page-header"><h1>YOU DON'T HAVE A PROFILE YET...</h1></div>
            <div class="create-div">
                <a id="create" href="/users/profile">CREATE PROFILE</a>
            </div>
        <% } %>

    </section>

<%- include('../partials/footer') %>



