<%- include('../partials/header') %>
<section id="logged-in-main">
    <aside>
        <% console.log(profile) %>
        <div id="profile-picture"></div>
        <h4> <%= profile.bandName %> </h4>
        <h5> <%= profile.city %>, <%= profile.state %> </h5>
        <div class="aside-nav" id="top-aside-nav"><a href="#">FIND SHOWS</a></div>
        <div class="aside-nav"><a href="#" class="aside-nav">NEW SHOW</a></div>
        <div class="aside-nav" id="bottom-aside-nav"><a href="#" class="aside-nav">MY SHOWS</a></div>
        
    </aside>
    <section id="main">
        <% if (hasProfile) {%>
            
        <% } else { %>
            <h2>YOU NEED TO MAKE A PROFILE</h2> 
            <a href="/users/profile">CREATE PROFILE</a>
        <% } %>
    </section>
</section>
<footer>
  <p>COPYRIGHT, BITCHES</p>
</footer>



