<%- include('../partials/header') %>
<h1>WELCOME, BITCH</h1>
<% if (hasProfile) {%>
    <h2>Profile: <%= profile %></h2>
<% } else { %>
    <h2>YOU NEED TO MAKE A PROFILE</h2> 
    <a href="/users/profile">CREATE PROFILE</a>
<% } %>
