<%- include('../partials/header') %>

    <h1>MAKE A PROFILE MOTHAFUCKA</h1>

    <form id="profile-form" action="/users/home" method="POST">
      <input type="hidden" name="user" value="<%= user._id %>">
      <label> BAND NAME:
        <input type="text" name="bandName">
      </label><br>
      <label> CITY:
        <input type="text" name="city">
      </label><br>
      <label> STATE:
        <select name="state">
          <% let states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'] %>
          <% states.forEach(state => { %>
            <option value="<%= state %>"><%= state %></option>
          <% }); %>
        </select>
      </label><br>
      <label> GENRE:
        <input type="text" name="genre">
      </label><br>
      <label> ABOUT:
        <input type="text" name="about">
      </label><br>
      <label> WEBSITE:
        <input type="text" name="website">
      </label><br>
      <button type="submit">CREATE PROFILE</button>
    </form>
</body>
</html>
