<%- include('../partials/header') %>
    <%- include('../partials/aside') %>
    <section id="main">
    <div id="page-header"><h1>CREATE A NEW POST</h1></div>
    <form id="new-post" action="/posts" method="POST">
        <label>DATE:
            <input type="date" name="date">
        </label>
        <label>VENUE:
            <input type="text" name="venue">
        </label>
        <label>DESCRIPTION:
            <textarea name="description" cols="50" rows="10"></textarea>
        </label>
        <input type="hidden" name="active" value="true">
        <input type="hidden" name="host" value="<%= profile._id %>">
        <button id="post-button" type="submit">CREATE POST</button>
    </form>
    </section>
<%- include('../partials/footer') %>